/**
* ブロック上書きCSS
*/


//VK ボタン
.vk_button{
    .btn{
        @include btn();
        @include shadow-link;

        &:hover{
            @include shadow-hover;
        }
        &.vk_button_link.btn {
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
        }
        &-light{
            background-color: #ffffff;
            border-color: #ffffff;
            &:hover {
                background-color: #ffffff;
                border-color: #ffffff;
            }
            .fas {
                color: var(--vk-color-primary);
                }
        }
    }

    //ボタンスタイルがテキスト
    &_link-type-text{
        -webkit-transition: .3s;
        transition: .3s;
        &:hover{
            letter-spacing: .15rem;
        }

    }
    &.icon-color-primary {
        .fas {
            color: var(--vk-color-primary);
        }
    }
}

//ボタン
.btn:not(.header-top-contact-btn a){
    @include btn();
}
//VK Block Pattern のカラムバナーとカラムフィットバナーのボタンには影をつけたくないのでunset
.vk-cols--fitbnrs{
    .vk_button{
        .btn{ box-shadow:unset; }
    }
}
//投稿リスト
.vk_posts{
    //表示タイプ カードのhover
    .card-post:not(.card-noborder){
        &:hover{
            @include shadow-hover;
        }
    }
    //表示タイプテキスト
    .postListText_singleTermLabel_inner{
        @include btn();
    }
    //画像内の前の記事 次の記事 のラベル
    //次の記事
    .vk_post_imgOuter_singleTermLabel{
        @include btn();
        top:$vk_post_imgOuter_singleTermLabel-padding;
        right: $vk_post_imgOuter_singleTermLabel-padding;
        padding: .1em 1em;

    }
    //前の記事
    .next-prev-prev {
        .vk_post_imgOuter_singleTermLabel{
            left:$vk_post_imgOuter_singleTermLabel-padding;
            right: unset;
        }
     }

}
//カードブロック
.card:not(.card-noborder) {
    position: relative;
    border:unset;
    @include shadow-link;
    &:hover{ //Tree shaking を有効化にすると上記の投稿リストのカードのhoverに書いてある記述が、カードブロックで効かなくなるので追加
        @include shadow-hover;
    }
}

//VK グリットカラムを角丸に
.wp-block-vk-blocks-grid-column-item .vk_gridColumn_item_inner{
    border-radius: var(--vk-size-radius);
}

//FAQブロック(新、旧)
.wp-block-vk-blocks-faq,
.wp-block-vk-blocks-faq2{
&.vk_faq{
    background-color: #ffffff;
    border-bottom:unset;
    border-radius: var(--vk-size-radius);
    @include shadow-primary;

    &.vk_faq-accordion.vk_faq-accordion-close,
    &.vk_faq-accordion.vk_faq-accordion-open{
        margin-bottom: 2rem;
    }
        .vk_faq_title:before,
        .vk_faq_content:before{
            left: 1.5rem;
            top: 1.5rem;
        }
    
        .vk_faq_title,
        .vk_faq_content,
        .vk_faq_content-accordion-open{
            padding:1.5rem 1.5rem 1.5rem 4rem;
        }
        .vk_faq_content-accordion-close{
            padding-top: 0;
            padding-bottom: 0;
        }
    
    &.vk_faq-accordion-close .vk_faq_title::after,
    &.vk_faq-accordion-open .vk_faq_title::after{
        right: 3.7rem;
    }
}
}

//投稿リストブロック テキスト1カラム
.vk_posts-layout-postListText{
    .postListText_date{
        font-size: 0.9rem;
        color: var(--vk-color-text-light);
    }
    .postListText_title{
        font-size: 1rem;
        a{
            text-decoration: none;
        }
    }
    .postListText{
        padding: 1rem 0 .9rem;
        border-bottom:1px solid var(--vk-color-border-hr);
    }
}

//outerブロック 背景固定にするとiphoneで背景画像が拡大される不具合があるのでunset
.vk_outer-bgPosition-fixed {
    @media (max-width: $md-max){
        background-attachment: unset !important;
    }
}

//スライダーブロック
.swiper-container.vk_slider .swiper-button-next,
.swiper-container.vk_slider .swiper-button-prev{
    background-color:rgba(0,0,0,0.5);
    border-radius: 50%;
    &::after{
        color: #ffffff;
    }
}
//ステップブロック
.vk_step .vk_step_item .vk_step_item_dot{
    font-family: $roboto-font-family;
    font-size: 1.2rem;
}
//フッター上部に設置したソーシャルブロック
.site-body-bottom{
    .wp-block-social-links {
        margin-top:0;
    }
}

//グループブロックのアラート系のブロック内に配置したVK見出しのアイコン色は、アラートで設定されている色にしたいのでinherit
.wp-block-group[class*="is-style-vk-group-alert-"]{
    .vk_heading i{
        color: inherit;
    } 
}

//検索ブロック    
.wp-block-search{
    // ボタン内側の場合
    &.wp-block-search__button-inside {
        .wp-block-search__inside-wrapper{
            border: 1px solid var(--vk-color-border-form);
            border-radius:var(--vk-size-radius);
            .wp-block-search__button{
                //アイコン表示の場合
                &.has-icon{
                    width: 40px;
                    background: transparent;
                }
            }
        }
    }

}


