/**
* 公開画面・編集画面共有のCSS
*/

:root {
    --shadow-primary: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    --shadow-hover: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    // Roboto font
    --roboto-font-family: 'Roboto', sans-serif;
    --vk-size-text-xl: 2rem;
}


.ltg3-s-evergreen{
    /* =============================================
    テーマCSS上書き
    ============================================= */
    .site-header{
        //ヘッダートップメニュー 余白調整
        .header-top {
            nav {
                top: 9px;
            }
            ul>li>a,
            ul>li>span{
                padding: 0 0.5rem;
            }
        }
        //ロゴ
        @media (max-width: $md-max){
            //ロゴの高さ
            &-logo img {
                max-height: 35px;
            }
            //ロゴの位置を左
            &-container{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    @media (min-width: $lg-min){
        .site-header-logo{
            margin-top:0.25rem;
            margin-bottom: 0.25rem;
        }
    }

    //フッター フォントサイズ
    .site-footer{
        @media screen and (min-width: 767px){
            font-size: calc(var(--vk-size-text)* 0.9) ;
        }
    }
    //フッターナビ
    .footer-nav {
        .footer-nav-list{
                //フッターメニューを中央寄せ
                @media screen and (min-width: 767px){ 
            display: flex;    
            justify-content: center;
                }
            li{
                @media screen and (min-width: 767px){
                &:first-child{
                    border-left: none;
                }             
                    border-left:1px solid #ffffff;
                }
                a {
                    @media (max-width: 767.98px){
                        border-bottom: 1px solid var(--vk-color-border-light);
                    }
                }
            }
        }
    }

    //モバイルフィックスナビ 高さ
    .mobile-fix-nav .mobile-fix-nav-menu {
        height: 52px;
        padding: 7px 0 5px;
    }        
    //モバイル時のナビボタンデザイン
    .vk-mobile-nav-menu-btn{
        border:none;
        background-image: url("../images/vk-menu-btn-white.svg");
        background-color:rgba(0,0,0,.3);;
        &.menu-open {
            background-image: url("../images/vk-menu-close-white.svg");
        }
    }

    /* =============================================
    追加用のCSSクラス
    ============================================= */

    //下部にmargin余白追加
    .margin-bottom-sm{
        margin-bottom: var(--vk-margin-sm);
    }
    .margin-bottom-md{
        margin-bottom: var(--vk-margin-md);
    }
    .margin-bottom-lg{
        margin-bottom: var(--vk-margin-lg);
    }
    //キービジュアル内見出し　
    .vk-key-visual-heading{
        @media (min-width: $lg-min){
            font-size: 3.2rem;
        }
        font-size: var(--vk-size-text-xl);
    }
    //見出し
    .vk-heading-md{
        @media (min-width: $lg-min){
            font-size: 2.6rem;
        }
        font-size: 1.75rem;
        //上にはみ出す見出し
        &.over{
            position: absolute;
            top:-1.75rem;
        }
        //タイトルの途中で大きい文字
        em{
            @media (min-width: $lg-min){
                font-size:3.62rem;
            }
            font-size:2.9rem;
            font-style: normal;
        }
    }
    //VK 見出し 中央寄せでサブテキストの左右にボーターのデザイン
    .heading-subtext-border {
        position: relative;
        text-align: center;
        .vk_heading_title{
            //vk見出しの文字サイズ数値が空白にできないためimportantで実装
            @media (min-width: $lg-min){
                font-size: 2.25rem;
            }          
            font-size: 1.75rem;
            
        }
        &.en .vk_heading_subtext{
            font-family: var(--roboto-font-family);

        }
        .vk_heading_subtext{
            position: relative;
            display: inline-block;
            letter-spacing: .05rem;
            padding-left:70px;
            padding-right: 70px;
        }
        &.wh{
            .vk_heading_subtext:before,
            .vk_heading_subtext:after {
                background-color:#ffffff;
            }
        }
        .vk_heading_subtext:before,
        .vk_heading_subtext:after {
            content: '';
            position: absolute;
            top: 50%;
            bottom:0;
            display: inline-block;
            width: 50px;
            height: 1px;
            background-color:var(--vk-color-border-black);
        }
        
        .vk_heading_subtext:before {
            left: 0;
        }
        
        .vk_heading_subtext:after {
            right: 0px;
        }

    }
    @media (max-width:$xs-max){
    //スマホサイズで1カラム時
    .vk_posts .vk_post-col-xs-12 {
        width: 100%;
    }
    }
    //全幅コンテナ内のインナーコンテナ
    .inner-container{
            max-width: calc(var(--vk-width-container) - var(--vk-width-container-padding) * 4);
            margin-left: auto;
            margin-right: auto;
     }
    //$md-minサイズ以上でvkボタンを左寄せ
    @media (min-width:$md-min){
        .vk_button.pc-only-left{
            text-align: left;
        }
    }
    //line-height
    .vk-line-height{
        line-height: var(--vk-line-height);
    }


    //ラベル
    .label{
        @include label();
        //ラベル左右中央寄せ
        &.left-right-center{
            @include left-right-center();  
        }

    }
    //シャドウ
    .shadow-primary{
        @include shadow-primary;
    }
    //上にはみ出すブロック
    .block-top-over{
        margin:-14rem 0 0 auto;
    }

    //カードブロック ボーダーを削除
    .vk-card-no-border{
        .card {
            border:none;
        }
    }
    //カード hover時に半透明
    .vk-card-hover{
        .card{
            transition: .3s;
            &:hover{
                opacity: 0.85;
            }
        }
    }
    //
    .card-label-over{
        .card{
            margin-bottom: 2.8rem;
            //unsetしないとはみ出したラベルが隠れる
            overflow: unset;
        }
    }

   //メディアとテキスト スマホサイズで順番入替
   .sp-order{
        @media (max-width:$sm-max){
            .wp-block-media-text__media{
                order: 2;
                grid-row: 2;
            }
            .wp-block-media-text__content{
                order: 1;
                grid-row: 1;
            }
        }
   }
   .wp-block-columns{
        @media (max-width:$sm-max){
            .sp-order-one{order: 1;}
            .sp-order-two{order: 2;}
        }
    }
    //カラムブロック ラベルがはみ出すカラムブロック
    .wp-block-columns.over{
        .wp-block-column{
            position: relative;
            margin-top:2.5rem;
        }
        //カラムブロック 連続するカラムブロックの下部余白
        &.wp-block-columns.over {
            margin-bottom: 0;
        }
    }


    //アイコンブロック 上にはみ出す
    .vk_icon.icon-over{
        @include left-right-center( $top: -2.5rem);
    }
    //背景を親要素の高さまで伸ばす
    .bg-height{
        min-height: 100%;
    }
 

    /* =============================================
    パターンに登録するかもしれないので、その時は削除
    ============================================= */
    // 背景を左右にずらすデザイン 
    .vk-bg-position{
        position: relative;
        z-index:0;
        .vk_outer.bg-left-25{
            transform: translate(25%, 0%);
            @include bg-translate-common;
        }
        .vk_outer.bg-right-25{
            transform: translate(-25%, 0%);
            @include bg-translate-common;
        }
        .vk_outer.bg-left-5{
            transform: translate(5%, 0%);
            @include bg-translate-common;
        }
        .vk_outer.bg-right-5{
            transform: translate(-5%, 0%);
            @include bg-translate-common;
        }
        //lg-max以下で左右にずらしたくない場合に追加
        &.pc-only{
            .vk_outer{           
                @media (max-width: 1199.98px){
                    transform: translate(0%, 0%);
                }
            }
    
        }
    }
}






