/**
* 公開画面・編集画面共有のCSS
*/

/* =============================================
テーマCSS上書き
============================================= */


/* =============================================
追加用のCSSクラス
============================================= */
//下部のmarginを0
.vk-last-child-margin-bottom{
    margin-bottom: 0;
}

//VKボタンに最小幅を設定したい時に使う
.vk-button-min-width{ //最小幅
    .vk_button_link.btn{
        min-width: 18rem;
    }
}

//キービジュアル内見出し　
.vk-headding-key-visual{
    /* 
    calc + vwの計算式
    画面幅1200pxの時 font-size: 38px
    画面幅576pxの時 font-size: 30px
    */
    font-size: calc(30px + 8 * (100vw - 576px)/624);
}

//見出し コア側の見出し用のクラス 
/* 
calc + vwの計算式
画面幅1200pxの時 font-size: 36px
画面幅576pxの時 font-size: 28px
*/
$vk-headding-lp: calc(28px + 8 * (100vw - 576px)/624);
.vk-headding-lp{
    font-size: $vk-headding-lp;
    z-index: 1;
    //上にはみ出す見出し
    &.heading-top-over{
        position: absolute;
        top:-1.75rem;
		// theme.json がない場合
		.wp-block-group > .wp-block-group__inner-container > & {

		}
		// theme.json がある場合対策
		.wp-block-group > & {
			height:0;
			left:calc( ( 100vw - ( var(--vk-width-container) - var(--vk-width-container-padding) * 2 ) ) / 2 );
		}
    }
    //emタグを利用してタイトルの途中で大きい文字にする
    em{
        font-size:1.25em;
        font-style: normal;
    }
}

h3.vk-headding-lp{
    font-size: calc( $vk-headding-lp - 4px );
}
h4.vk-headding-lp,
h5.vk-headding-lp,
h6.vk-headding-lp {
    font-size: calc( $vk-headding-lp - 8px );
}

//VK見出し 中央寄せでサブテキストの左右にボーターのデザイン
.vk-heading-subtext-border {
    position: relative;
    text-align: center;
    .vk_heading_title{
        font-size: calc(28px + 4 * (100vw - 576px)/624);          
    }
    &.vk-heading-subtext-en .vk_heading_subtext{
        font-family: $roboto-font-family;
    }
    .vk_heading_subtext{
        position: relative;
        display: inline-block;
        letter-spacing: .05rem;
        padding-left:70px;
        padding-right: 70px;
    }
    &.vk-heading-subtext-border-color-wh{
        .vk_heading_subtext:before,
        .vk_heading_subtext:after {
            background-color:#ffffff;
        }
    }
    .vk_heading_subtext:before,
    .vk_heading_subtext:after {
        content: '';
        position: absolute;
        top: 50%;
        bottom:0;
        display: inline-block;
        width: 50px;
        height: 1px;
        background-color:currentColor;
    }
    
    .vk_heading_subtext:before {
        left: 0;
    }
    
    .vk_heading_subtext:after {
        right: 0px;
    }

}

.vk-font-family-en{
    font-family: $roboto-font-family;
}

//ラベル
.vk-label,
p.vk-label{
    @include label();
    //上にはみ出すラベル
    &.vk-label-top-over{
        @include left-right-center($top:0);
    }

}

//角丸にしたい要素に追加
.vk-size-radius{
    border-radius: var(--vk-size-radius);
}

//シャドウ
.vk-shadow-primary{
    @include shadow-primary;
}
//vkグリットカラムはインナーアイテムに影をつけたいので追加
.vk_gridColumn-shadow {
    .vk_gridColumn_item_inner{
        @include shadow-link;
        &:hover{
            @include shadow-hover;
        }
    }
}

//アイコンブロック 上にはみ出す
.vk_icon.vk-icon-top-over{
    @include left-right-center( $top:0);  
}

//お問い合わせ用の電話番号のフォントファミリー
.vk-contact-txt-tel,//←ExUnitのお問い合わせブロックのクラス名
.vk-contact-txt-tel .vk_heading_title
{
    font-family: $roboto-font-family;
    font-size: calc(28px + 4 * (100vw - 576px)/624);
    color:var(--vk-color-primary);
    .fa-phone{
        font-size: 0.8em;
    }
}
