/**
* ExUnit ブロック上書きCSS
*/

//挿入アイテムの設定 の 子ページ一覧の表示
.veu_card{
    border-width: 1px;
    border-radius: unset;
    .veu_card_inner{
        padding:2rem;
    }
}

//お問い合わせブロック
.veu_contact {
    .contact_txt_catch{
        margin-bottom:0.5rem;
    }
    .contact_txt_tel{
        margin-bottom:0.5rem;
    }
    .contact_txt_catch,
    .contact_txt_time{
        font-size: 1.12rem;
    }
    .contact_bt{
        font-size: 1.5rem;
        @include btn(1.5rem);
    }
    .fa-arrow-alt-circle-right{
        display: none;
    }
}
.veu_contact-layout-horizontal{
    @media (min-width: $xl-min){
    .contact_frame{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        .veu_contact .contact_bt{
        min-width: 500px;
        }
    }//min-width: $xl-min

}



