@charset "utf-8";

/**
* public page css
* Origin III のSCSSファイルを参考の独自に作成してください
*/
@import "variables";
@import "global-nav-effect";
@import "common";
@import "exunit-overwrite";
@import "block-common";

//キャンペーンテキスト ボタン角丸
.vk-campaign-text{
    .vk-campaign-text_btn {
        border-radius: 100px;
    }
}
//ヘッダー
.site-header{
    //ヘッダートップメニュー 余白調整
    .header-top {
        nav {
            top: 9px;
        }
        ul>li>a,
        ul>li>span{
            padding: 0 0.5rem;
        }
    }
    //ロゴ
    &-logo img {
        max-height: 50px;
        @media (max-width: $md-max){
            max-height: 35px;
        }
    }

}
//ページヘッダーサブテキスト
.page-header-subtext {
    line-height: 1.5;
    font-size: 1rem;
    letter-spacing: 2px;
}
//フッター フォントサイズ
.site-footer{
    @media screen and (min-width: 767px){
        font-size: calc(var(--vk-size-text)* 0.9) ;
    }
}
//フッターナビ
.footer-nav {
    .footer-nav-list{
        li{
            @media screen and (min-width: 767px){
				&:first-child{
					border-left:1px solid var(--vk-color-border-hr);
				}             
                border-right:1px solid var(--vk-color-border-hr);
            }
            a {
                @media (max-width: 767.98px){
                    border-bottom: 1px solid var(--vk-color-border-hr);
                }
            }
        }
    }
}
//フッターコンテンツ　ソーシャルボタンのマージン
.site-footer-content{
    .wp-block-social-links{
        margin-top: 0;
    }
}
//モバイルフィックスナビ
.mobile-fix-nav{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 12%);
    .mobile-fix-nav-menu {
        height: 52px;
        padding: 7px 0 5px;
    }
}

//ページトップ      
.page_top_btn{
    border-radius: 50%;
    box-shadow:unset;
}
//カテゴリーとタグ
.entry-meta-data-list dt{
    border-radius: var(--vk-size-radius-btn-primary);
}
//コメントの角丸
ol.comment-list>.comment,
p.no-comments{
    border-radius: var(--vk-size-radius);
}