// 上にはみ出すブロック（新）
.vk-top-offset{
    z-index: 1;
    position: relative;
    &--lg{
        margin:-14rem auto 0;
    }
    &--md{
        margin:-7rem auto 0;
    }
    &--sm{
        margin:-3.5rem auto 0;
    }
}

//上にはみ出すブロック（旧）
.vk-block-top-over{
    &-lg{
        margin:-14rem auto 0;
        z-index: 1;
        position: relative;
		body .container .is-layout-flow.wp-block-group > & {
			margin-block-start: -14rem; // theme.json がない場合用補正
		}
    }
    &-md{
        margin:-7rem auto 0;
        z-index: 1;
        position: relative;
    }
    &-sm{
        margin:-3.5rem auto 0;
        z-index: 1;
        position: relative;
    }
}