.editor-styles-wrapper .is-root-container .wp-block .vk-bg-offset {
    .vk-bg-offset-bg--45 {
        --vk-width-bg-offset:45vw;
    }
    .vk-bg-offset-bg--40 {
        --vk-width-bg-offset:40vw;
    }
    .vk-bg-offset-bg--35 {
        --vk-width-bg-offset:35vw;
    }
    .vk-bg-offset-bg--30 {
        --vk-width-bg-offset:30vw;
    }
    .vk-bg-offset-bg--25 {
        --vk-width-bg-offset:25vw;
    }
    .vk-bg-offset-bg--20 {
        --vk-width-bg-offset:20vw;
    }
    .vk-bg-offset-bg--15 {
        --vk-width-bg-offset:15vw;
    }
    .vk-bg-offset-bg--10 {
        --vk-width-bg-offset:10vw;
    }
    .vk-bg-offset-bg--5 {
        --vk-width-bg-offset:5vw;
    }
	html .edit-post-visual-editor & .vk-bg-offset-bg {
        width: calc( 100vw - var(--vk-width-bg-offset) );
    }
	// 画像が左 / ずらし背景の余白は左側
    html .edit-post-visual-editor & .vk-bg-offset-bg--left {
        margin-left: calc( var(--vk-width-bg-offset) - ( var(--vk-width-editor-full) - var(--vk-width-editor-container-body) ) / 2 );
    }
	// 画像が右 / ずらし背景の余白は右側
    html .edit-post-visual-editor & .vk-bg-offset-bg--right {
		margin-left:calc( ( var( --vk-width-editor-container-body ) - var(--vk-width-editor-full ) ) / 2 );
    }
}