/**
* 公開画面・編集画面共有のCSS
*/

@import "mixin";
@import "block-common";

:root {
    --shadow-primary: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    --shadow-hover: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
    // Roboto font
    --roboto-font-family: 'Roboto', sans-serif;
    --vk-size-text-xl: 2rem;
}


.ltg3-s-evergreen{
    /* =============================================
    テーマCSS上書き
    ============================================= */
    .site-header{
        //ヘッダートップメニュー微調整
        .header-top {
            nav {
                top: 9px;
            }
            ul>li>a,
            ul>li>span{
                padding: 0 0.5rem;
            }
        }
        //ロゴ
        @media (max-width: $md-max){
            //ロゴの高さ
            &-logo img {
                max-height: 35px;
            }
            //ロゴの位置を左
            &-container{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    @media (min-width: $lg-min){
        .site-header-logo{
            margin-top:0.25rem;
            margin-bottom: 0.25rem;
        }
    }

    //フッター微調整
    .site-footer{
        @media screen and (min-width: 767px){
        font-size: calc(var(--vk-size-text)* 0.9) ;
        }
    }
    .footer-nav {

        .footer-nav-list{
                //フッターメニューを中央寄せ
                @media screen and (min-width: 767px){ 
            display: flex;    
            justify-content: center;
                }
            li{
                @media screen and (min-width: 767px){
                &:first-child{
                    border-left: none;
                }             
                    border-left:1px solid #ffffff;
                }
                a {
                    @media (max-width: 767.98px){
                        border-bottom: 1px solid var(--vk-color-border-light);
                    }
                }
            }
        }
    }

    //モバイルフィックスナビ 高さ
    .mobile-fix-nav .mobile-fix-nav-menu {
        height: 52px;
        padding: 7px 0 5px;
    }        
    //モバイル時のナビボタンデザイン
    .vk-mobile-nav-menu-btn{
        border:none;
        background-image: url("../images/vk-menu-btn-white.svg");
        background-color:rgba(0,0,0,.3);;
        &.menu-open {
            background-image: url("../images/vk-menu-close-white.svg");
        }
    }

    /* =============================================
    追加用のCSSクラス
    ============================================= */
    //キービジュアル内見出し
    .key-visual-heading{
        @media (min-width: $lg-min){
            font-size: 3.2rem;
        }
        font-size: var(--vk-size-text-xl);
    }
    //見出し
    .heading-title{
        @media (min-width: $lg-min){
            font-size: 2.6rem;
        }
        font-size: 1.75rem;
        //上にはみ出す見出し
        &-over{
            position: absolute;
            top:-1.75rem;
        }
        em{
            @media (min-width: $lg-min){
                font-size:3.62rem;
            }
            font-size:2.9rem;
            font-style: normal;
        }
    }
    //VK 見出し 中央寄せでサブテキストの左右にボーターのデザイン
    .heading_subtext-style-border {
        position: relative;
        text-align: center;
        .vk_heading_title{
            //vk見出しの文字サイズ数値が空白にできないためimportantで実装
            @media (min-width: $lg-min){
                font-size: 2.25rem !important;
            }
            
            font-size: 1.75rem !important;
            
        }
        &.en .vk_heading_subtext{
            font-family: var(--roboto-font-family);

        }
        .vk_heading_subtext{
            position: relative;
            display: inline-block;
            letter-spacing: .05rem;
            padding-left:70px;
            padding-right: 70px;
        }
        &.wh{
            .vk_heading_subtext:before,
            .vk_heading_subtext:after {
                background-color:#ffffff;
            }
        }
        .vk_heading_subtext:before,
        .vk_heading_subtext:after {
            content: '';
            position: absolute;
            top: 50%;
            bottom:0;
            display: inline-block;
            width: 50px;
            height: 1px;
            background-color:var(--vk-color-border-black);
        }
        
        .vk_heading_subtext:before {
            left: 0;
        }
        
        .vk_heading_subtext:after {
            right: 0px;
        }

    }
    @media (max-width:$xs-max){
    //スマホサイズで1カラム時
    .vk_posts .vk_post-col-xs-12 {
        width: 100%;
    }
    }
    //全幅コンテナ内のインナーコンテナ
    .inner-container{
            max-width: calc(var(--vk-width-container) - var(--vk-width-container-padding) * 4);
            margin-left: auto;
            margin-right: auto;
     }
    //$md-minサイズ以上でvkボタンを左寄せ
    @media (min-width:$md-min){
        .vk_button.pc-only-left{
            text-align: left;
        }
    }
    //flexの中央寄せ
    .flex-center{
        justify-content: center;
        align-items: center;
    }
    //line-height
    .vk-line-height{
        line-height: var(--vk-line-height);
    }

    //ラベル左右中央寄せ
    .left-right-center{
      @include left-right-center();  
    }
    //ラベル
    .label{
        @include label();
    }
    //ラベル（プライマリーカラー）
    .label-primary{
        @include label();
        background-color: var(--vk-color-primary);
    }

    //上にはみ出すブロック
    .block-top-over{
            margin:-14rem 0 0 auto;
    }

    //カードブロックのボーダーを削除
    .no-border {
        .card {
            border:none;
        }
    }
    //カード hover時に半透明
    .card-hover{
        .card{
            transition: .3s;
            &:hover{
                opacity: 0.85;
            }
        }
    }
    .card-label-over{
        .card{
            margin-bottom: 2.8rem;
            //unsetしないとはみ出したラベルが隠れる
            overflow: unset;
        }
    }
   //カラムブロック スマホサイズで順番入替
   .sp-order{
        @media (max-width:$sm-max){
            .wp-block-media-text__media{
                order: 2;
                grid-row: 2;
            }
            .wp-block-media-text__content{
                order: 1;
                grid-row: 1;
            }
        }
   }
   .wp-block-columns{
        @media (max-width:$sm-max){
            .sp-order-one{order: 1;}
            .sp-order-two{order: 2;}
        }
    }
    
   //アイコンがはみ出すアイコンカード
    .icon-over{ 
        &.wp-block-vk-blocks-icon-card{
            padding-top: 2.5rem;
            .vk_icon-card_item{
                position: relative;
                background-color: #ffffff;
                margin-bottom:3.5rem;
                padding: 30px 15px 15px;
                .vk_icon_card_item_summary{
                    margin-bottom: 1.5em;
                }
            }
            .vk_icon-card_item_icon_outer{
                @include left-right-center(-40px);
                @media (max-width: $sm-max) {
                    @include left-right-center(-31px);
                }
            }

            //アイコンカードのアイコンの大きさ(スマホサイズ時)
            .vk_icon-card_item_icon{
                @media (max-width: $sm-max) {
                    font-size: 1.8rem;
                }
                &_outer{
                    @media (max-width: $sm-max) {
                        width: 4.5rem;
                        height: 4.5rem;
                    }
        
                }
            }
        
        }
    }
    //お問い合わせ背景白
    .veu_contact-bgwh{
        background-color: #ffffff;
        color: var(--vk-color-text-body);
    }

    //背景をずらすデザイン 
    .bg-section{
        position: relative;
        z-index:0;
        .vk_outer.bg-left-25{
            transform: translate(25%, 0%);          
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .vk_outer.bg-right-25{
            transform: translate(-25%, 0%);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .vk_outer.bg-left-5{
            @media (min-width: $xl-min){
                transform: translate(5%, 0%);
            }
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
        .vk_outer.bg-right-5{
            @media (min-width: $xl-min){
                transform: translate(-5%, 0%);
            }
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
}






